<%- include('../../partials/header.ejs', {title:'404 NOT FOUND'} )%>

<div class="container my-container my-5">
    <h6 class="display-4 text-center text-danger">404 NOT FOUND</h6>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>


