<%- include('../../partials/header.ejs', {title:'Internel Server Error'} )%>

<div class="container my-container my-5">
    <h3 class="display-4 text-center text-danger" >Internel Server Error</h3>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>


