<div id="sidebar" class="my-5 text-left" style="background-color: darkcyan;" >
    <ul class="list-group" >
        
            
            <%if( user.isAdmin == true){%>
                <li class="list-group-item">
            
                  <a class="nav-link"style="font-size: 15px" href="/dashboard/admin-dashboard">Admin Dashboard</a>
                </li>
             <% }  else{%>
                <li class="list-group-item">
             
                <a class="nav-link" href="/dashboard">Dashboard</a>
              </li>
        <%  }%>
  
        <li class="list-group-item">
            <a href="/posts/create">New Post</a>
        </li>
        <li class="list-group-item">
            <a href="/posts">My Post</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/bookmarks">Bookmarks</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/comments">Comments</a>
        </li>
        <li class="list-group-item">
            <a href="/dashboard/edit-profile">Edit Profile</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/change-password">Change Password</a>
        </li>
        <li class="list-group-item">
            <a href="/auth/logout">Log Out</a>
        </li>
    </ul>
</div>