*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: rgb(245, 245, 245);
}
.my-container{
    min-height: 600px;
}

footer{ 
    background: #343A40;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}